# anki (pylib)
decorator
markdown
orjson
protobuf>=6.0,<8.0
requests[socks]
typing_extensions
distro; sys_platform != 'darwin' and sys_platform != 'win32'

# aqt
beautifulsoup4
flask
flask-cors
jsonschema
send2trash
waitress>=2.0.0
pip-system-certs!=5.1
